{
  "tabWidth": 2,
  "semi": true,
  "doubleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
